@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "ticketing";
  src: url("../fonts/Ticketing.otf") format("truetype");
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: ticketing !important;
  background-color: black !important;
}
video {
  pointer-events: none;
}

*, :after, :before {
  box-sizing: border-box;
}

.image-holder {
  max-width: 1600px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.image-holder .image {
  width: 33.333%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}
.image-holder .image img {
  width: 100%;
  height: auto;
}

.background {
  max-width: 100%;
  /*pointer-events: none;*/
  opacity: 60%;
}
.login-menu {
  vertical-align: bottom;
  height: auto;
}
.play {
  left: 30%;
}
.credits {
  right: 30%;
}
.main-button {
  height: 90px;
  top: 950px;
  position: absolute;
}

.attack-name{
  color: #231a45!important;
  font-family: "Press Start 2P";
}

.nes-radio.is-dark:checked + span::before{
  color: #231a45!important;
}

 .nes-btn{  /* Test */
  color: brown;
  background-color: cadetblue;
}

.modalDialog {
  position: Fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: None;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: Auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% Auto;
  padding: 1px 0 13px 0;
  border-radius: 7px;
  background-color: #f9fafb;
  cursor: Default;
}
.close {
  position: Absolute;
  right: 25px;
  top: 26px;
  text-align: Center;
}
.modal-title {
  padding: 0px 0 0px 20px;
}
.modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
}
.modal-font-size {
  font-size: 33px;
}

#characters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#characters > div {
  width: 545px;
  height: 800px;
}

#slideSourceOut {
  opacity: 0;
  transition: opacity 5s;
}

#slideSourceOut.black {
  opacity: 0;
}

#slideSourceOut.light {
  opacity: 1;
}

#slideSourceIn {
  opacity: 0;
  transition: opacity 4s;
}
#slideSourceIn.light {
  opacity: 1;
}
#slideSourceIn.black {
  opacity: 0;
}
#BloodMoonTower {
  opacity: 0;
  transition: opacity 4s;
}
#BloodMoonTower.light {
  opacity: 1;
}
#Skeleton_idle {
  opacity: 0;
  transition: opacity 2s;
}
#Skeleton_idle.light {
  opacity: 1;
}

#Skeleton_death {
  opacity: 1;
  transition: opacity 3s;
}
#Skeleton_death.dark {
  opacity: 0;
}

#Nightborne_idle {
  opacity: 0;
  transition: opacity 2s;
}
#Nightborne_idle.light {
  opacity: 1;
}
#Nightborne_death {
  opacity: 1;
  transition: opacity 3s;
}
#Nightborne_death.dark {
  opacity: 0;
}

#Boss_idle {
  opacity: 0;
  transition: opacity 2s;
}
#Boss_idle.light {
  opacity: 1;
}
#Boss_death {
  opacity: 1;
  transition: opacity 3s;
}
#Boss_death.dark {
  opacity: 0;
}

@keyframes character-walk-in-r {
  from {
    left: -1000px;
  }
  to {
    left: 500px;
  }
}

@keyframes character-walk-in-l {
  from {
    left: 500px;
  }
  to {
    left: 50px;
  }
}

@keyframes character-move-r {
  from {
    left: -300px;
  }
  to {
    left: 380px;
  }
}

@keyframes character-move-l {
  from {
    left: 380px;
  }
  to {
    left: -300px;
  }
}

@keyframes enemy-move-r {
  from {
    left: 400px;
  }
  to {
    left: 1100px;
  }
}

@keyframes enemy-move-l {
  from {
    left: 1100px;
  }
  to {
    left: 400px;
  }
}
